@using NewsApp.Models.Domain;
@model List<Category>




        <div class="container-fluid bg-light">
            <div class="container pb-5">
                <ul class="list-inline">

                    @foreach(var item in Model)
            {
                <li class="list-inline-item">
                    <a class="nav-link" aria-current="page" href="/Home/GetNewsByCategoryId?categoryId=@item.Id">@item.CategoryName</a>
                </li>
            }
            
   
                </ul>
            </div>
        </div>